<div class="row">
    <div class="col">
        <div class="whitebox">
            <h3>Get</h3>
            <h1>Wacky Crackups</h1>
            <h3>game!</h3>

            <a href="#">
                <img src="/images/app_store_badge.svg">
            </a>
        </div>

    </div>
</div>