<div class="row justify-content-center">
    <div class="m-0 my-3 col-12 col-md-9">
        <div class="c2a-wrapper">
            <div class="c2a-text">
                <h5 class="c2a-text-sub">Get</h5>
                <h3 class="c2a-text-main">Wacky Crackups</h3>
                <h5 class="c2a-text-sub">game</h5>
            </div>
            <div class="c2a-badge">
                <a href="#">
                    <img src="/images/app_store_coming_soon.png">
                </a>
            </div>
        </div>
    </div>
</div>
