<div class="row justify-content-center">
    <div class="m-0 my-3 col-12 col-md-10">
        <div class="c2a-wrapper">
            <p class="c2a-text">
                <span>Get</span>
                <span class="c2a-mobile-only">it</span>
                <span class="c2a-desktop-only">Wacky Crackups</span>
                <span class="c2a-when">SOON!</span>
            </p>
            <a href="#" class="c2a-badge">
                <img src="/images/app_store_coming_soon.png">
            </a>
        </div>
    </div>
</div>
