<div class="skinny-box">
    <div class="calling">
        <div class="call-text text-center">
            <h3>Get</h3>
            <h1>Wacky Crackups</h1>
            <h3>game!</h3>
        </div>
        <br>
        <a class="app-store" href="#">
            <img src="/images/app_store_badge.svg">
        </a>
    </div>
</div>

