<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 pt-2 pt-md-0 col-md-8 order-2 order-md-1">
                <p class="m-0 text-center text-md-left copyright"> Website & Characters © 2018 Story Startups, Inc. All Rights Reserved. </p>
            </div>
            <nav class="col-12 col-md-4 order-1 order-md-2 justify-content-center justify-content-md-end">
                <a href="">Help</a>
                <a href="/legal#privacy">Privacy</a>
                <a href="/legal#terms">Terms</a>
            </nav>
        </div>
    </div>
</footer>

