<footer>
    
    <p> © Story Startups, Inc   All Rights Reserved</p>

     <ul>
         <li>
             <a href="">Help</a>
         </li>
         <li>
             <a href="/tandc#privacy">Privacy</a>
         </li>
         <li>
             <a href="/tandc#terms">Terms of Service</a>
         </li>
     </ul>
</footer>

