
<div class="container">
    <div class="row">
        <div class="col skinny-box scrolling-wrapper" id="characterSledWrapper">
            <div id="characterSled">

                <div class="content scroll-card">
                    <a href="#videoStory" id="videoLink">
                        <img src=/images/wackyvideo.png class="scroll-card" alt="Wacky Crackups Video Banner">
                    </a>
                    <div id="videoStory" class="mfp-hide" style="max-width: 75%; margin: 0 auto;">
                        <iframe src="https://www.youtube.com/embed/oXoe3GWygq0?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <img src="/images/screenshot2.png" class="scroll-card" alt="Mix & Match">
                <img src="/images/screenshot1.png" class="scroll-card" alt="Cool People">
                <img src="/images/screenshot3.png" class="scroll-card" alt="Talk & Laugh!">

                <!--<img src="https://placehold.it/280x500/?text=2" class="scroll-card" alt="Mix & Match">-->
                <!--<img src="https://placehold.it/280x500/?text=1" class="scroll-card" alt="Cool People">-->
                <!--<img src="https://placehold.it/280x500/?text=3" class="scroll-card" alt="Talk & Laugh!">-->
            </div>

        </div>
    </div>
</div>

