
<div class="container">
    <div class="row">
        <div class="col skinny-box scrolling-wrapper">
            <div class="content">
                <a href="#videoStory" id="videoLink">
                    <img src=/images/wackyvideo.png class="card" alt="Responsive image">
                </a>
                <div id="videoStory" class="mfp-hide" style="max-width: 75%; margin: 0 auto;">
                    <iframe src="https://www.youtube.com/embed/oXoe3GWygq0?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <img src=/images/screenshot2.png class="card" alt="Responsive image">
            <img src=/images/screenshot1.png class="card" alt="Responsive image">
            <img src=/images/screenshot3.png class="card" alt="Responsive image">

        </div>
    </div>
</div>

