
<div class="container">
    <div class="row">
        <div class="col skinny-box scrolling-wrapper">

            <img src=/images/wackyvideo.png class="card" alt="Responsive image">
            <img src=/images/screenshot2.png class="card" alt="Responsive image">
            <img src=/images/screenshot1.png class="card" alt="Responsive image">
            <img src=/images/screenshot3.png class="card" alt="Responsive image">

        </div>
    </div>
</div>

