<div class="col-lg-12 screenshot-sled">
    <div id="characterSledWrapper">
        <div id="characterSled">
            <div class="scroll-card">
                {{!-- <a href="#videoStory" id="videoLink"> --}}
                    <img src="/images/opt/slider/slider-00-coming-soon.png" class="scroll-card-img" alt="Wacky Crackups Video Banner">
                {{!-- </a> --}}
                <div id="videoStory" class="mfp-hide" style="max-width: 75%; margin: 0 auto;">
                    <iframe src="https://www.youtube.com/embed/lXMskKTw3Bc" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <img src="/images/opt/slider/slider-01.png" class="scroll-card scroll-card-img" alt="">
            <img src="/images/opt/slider/slider-02.png" class="scroll-card scroll-card-img" alt="">
            <img src="/images/opt/slider/slider-03.png" class="scroll-card scroll-card-img" alt="">
            <img src="/images/opt/slider/slider-04.png" class="scroll-card scroll-card-img" alt="">
            <img src="/images/opt/slider/slider-05.png" class="scroll-card scroll-card-img" alt="">
        </div>
    </div>
    <img src="/images/horizontal-fab-right.png" class="wacky-fab wf-right" id="rightSledFAB" alt="">
    <img src="/images/horizontal-fab-left.png" class="wacky-fab wf-left" id="leftSledFAB" alt="">
</div>
