<div class="col-lg-12" id="characterSledWrapper">
    <div id="characterSled">
        <div class="scroll-card">
            <a href="#videoStory" id="videoLink">
                <img src="/images/optimized/scroll-pane-item-0-fs8.png" class="scroll-card-img" alt="Wacky Crackups Video Banner">
            </a>
            <div id="videoStory" class="mfp-hide" style="max-width: 75%; margin: 0 auto;">
                <iframe src="https://www.youtube.com/embed/oXoe3GWygq0?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <img src="/images/optimized/scroll-pane-item-1-fs8.png" class="scroll-card scroll-card-img" alt="Mix & Match">
        <img src="/images/optimized/scroll-pane-item-2-fs8.png" class="scroll-card scroll-card-img" alt="Cool People">
        <img src="/images/optimized/scroll-pane-item-3-fs8.png" class="scroll-card scroll-card-img" alt="Talk & Laugh!">
    </div>
</div>
