<nav class="main">
    <a href="/" class="wacky big">Wacky Crackups</a>
    <div class="links">
        <a href="/characters" class="{{#if (areEqual currentPath '/characters')}}active{{/if}}">Characters</a>
        <a href="/support" class="{{#if (areEqual currentPath '/support')}}active{{/if}}">Support</a>
        <a href="/blog" class="{{#if (areEqual currentPath '/blog')}}active{{/if}}">Blog</a>
    </div>
</nav>

