<nav class="main">
    <div>
        <img  class="logo" src="images/stacked-logo.png" href="/" class="wacky big pb-0">
    </div>
    <div class="links">
        <a href="/characters" class="pt-0 pt-md-3 {{#if (areEqual currentPath '/characters')}}active{{/if}}">Characters</a>
        <a href="/blog" class="pt-0 pt-md-3 {{#if (areEqual currentPath '/blog')}}active{{/if}}">Blog</a>
        <a href="/support" class="pt-0 pt-md-3 {{#if (areEqual currentPath '/support')}}active{{/if}}">Support</a>
        <a href="/" class="pt-0 pt-md-3 {{#if (areEqual currentPath '/')}}active{{/if}}">About</a>
    </div>
</nav>

