<nav class="main">
    <a href="/" class="wacky big pb-0">Wacky Crackups</a>
    <div class="links">
        <a class="pt-0 pt-md-3" href="/characters">Characters</a>
        <a class="pt-0 pt-md-3" href="/support">Support</a>
        <a class="pt-0 pt-md-3" href="/blog">Blog</a>
    </div>
</nav>

