<div class="row justify-content-center">
    <div class="col-12 col-md-10">
        <div class="row justify-content-center tc-row tc-row-img">
            <div class="col-4 tc-col tc-col-img">
                <img id="tc-dino" class="tc-img" src="/images/dino-cowgirl.png" />
            </div>
            <div class="col-4 tc-col tc-col-img">
                <img id="tc-elephant" class="tc-img" src="/images/elephant-bunny.png" />
            </div>
            <div class="col-4 tc-col tc-col-img">
                <img id="tc-cowgirl" class="tc-img" src="/images/cowgirl-dino.png" />
            </div>
        </div>
        <div class="row justify-content-center tc-row">
            <div class="col-4 tc-col tc-col-text">
                <div class="tc-subtext">
                    <h4>Mix &amp; Match!</h4>
                    <p class="hidden-md-up">Make Crazy Characters!</p>
                </div>
            </div>
            <div class="col-4 tc-col tc-col-text">
                <div class="tc-subtext">
                    <h4>Talk &amp; Laugh!</h4>
                    <p class="hidden-md-up">You'll Crack Up!</p>
                </div>
            </div>
            <div class="col-4 tc-col tc-col-text">
                <div class="tc-subtext">
                    <h4>
                        No
                        <span class="dumb-breaker">Ads!</span>
                    </h4>
                    <p class="hidden-md-up">No Data Collection</p>
                </div>
            </div>
        </div>
    </div>
</div>
