<div class="container chars">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-12">
            <img class="pic" src="/images/nobackchar.png">
        </div>
    </div>
</div>