<div class="container">
    <div class="row justify-content-center chars">
        <div class="col-lg-10 col-md-12">
            <img class="pic" src="/images/dino-cowgirl.png">
            <img class="pic" src="/images/elephant-bunny.png">
            <img class="pic" src="/images/cowgirl-dino.png">
        </div>
    </div>
</div>

