<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/fonts/MyFontsWebfontsKit.css"/>
    <style type="text/css">
        .FlawlessFlygirlPB-Regular { font-family: FlawlessFlygirlPB-Regular, sans-serif; }
    </style>
    <link href="/stylesheets/popup_video.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/nav.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/call-to-action.css' />
    <link rel='stylesheet' href='/stylesheets/fourimgbox.css' />
    <link rel='stylesheet' href='/stylesheets/threecharacters.css' />
    <link rel='stylesheet' href='/stylesheets/tandc.css' />
    <link rel='stylesheet' href='/stylesheets/about.css' />
    <link rel='stylesheet' href='/stylesheets/characters.css' />
    <link rel='stylesheet' href='/stylesheets/support.css' />
    <link rel='stylesheet' href='/stylesheets/blog.css' />
    <link rel='stylesheet' href='/stylesheets/feedback.css' />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/WC_FAVICON_32px.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/WC_DINO_FAVICON_16px.png">
    <link rel="shortcut icon" href="/images/favicon.ico">
</head>

<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            {{> nav }}
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            {{{body}}}
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            {{> footer }}
        </div>
    </div>
</div>
<script src="/js/nav.js"></script>
<script src="/js/file-validation.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
<script src="/hammer.min.js"></script>
<script src="/js/video_popup.js"></script>
<script src="/js/wacky-action-slider.js"></script>
</body>
</html>
