<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <style>
        @import url('https://fonts.googleapis.com/css?family=Montserrat');
    </style>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/nav.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/calltoaction.css' />
    <link rel='stylesheet' href='/stylesheets/fourimgbox.css' />
    <link rel='stylesheet' href='/stylesheets/threecharacters.css' />
    <link rel='stylesheet' href='/stylesheets/tandc.css' />
    <link rel='stylesheet' href='/stylesheets/characters.css' />

</head>

<body>
{{> nav }}
{{{body}}}
{{> footer }}
</body>
</html>
