{{>threecharacters}}
{{>calltoaction}}
{{>fourimgbox}}
<div class="main-page-wrapper">
    <img class="floating-dino-head" src="/images/icon.png" alt="" />
    <article class="main-page-copy">
        <h1 class="text-center copy-brand">Wacky Crackups</h1>
        <h2 class="text-center copy-tagline wacky">YOUR&nbsp;KIDS WILL&nbsp;CRACK&nbsp;UP!</h2>

        <div class="copy-heads-n-points">
            <div class="copy-head copy-head-superhero ch-superhero-desktop">
                <img src="/images/SUPERHERO_head_200.png" alt="Wacky Crackups Superhero Head" />
            </div>
            <section class="selling-points">
                <p>NO ADS!</p>
                <p>NO PERSONAL DATA COLLECTION!</p>
                <p>NO THIRD-PARTY DATA MINING!</p>
                <p>NO TRACKING!</p>
            </section>
            <div class="copy-head-below-points">
                <div class="copy-head copy-head-superhero ch-superhero-mobile">
                    <img src="/images/SUPERHERO_head_200.png" alt="Wacky Crackups Superhero Head" />
                </div>
                <div class="copy-head copy-head-cowgirl">
                    <img src="/images/COWGIRL_head_200.png" alt="Wacky Crackups Cowgirl Head" />
                </div>
            </div>
        </div>

        <p class="text-justify">Looking for some laughs for your kids, while encouraging them to create and improvise?  So were we!  That’s why we built the Wacky Crackups app!</p>
        <p class="text-center talking">It’s a Talking Mix &amp; Match Character game!</p>
        <p class="text-justify">Your kids can mix &amp; match our hilarious <a class="inline-copy-link" href="/characters">colorful characters</a> into 1000 combinations, then bring them to life with their own funny dialogue!</p>
        <p class="text-justify">Not only is Wacky Crackups fun, it’s safe and secure!  How many times have your kids come running to you because their apps have been interrupted by ads?  Is the app harvesting your kid’s data? <a class="inline-copy-link" href="https://www.youtube.com/watch?v=wAEhtaeCsW8">Unlike many other kids apps</a>, we don’t have ads, <a class="inline-copy-link" href="https://www.nytimes.com/interactive/2018/09/12/technology/kids-apps-data-privacy-google-twitter.html">we don’t collect your child’s personal data</a>, and we don’t share data with third party companies.</p>
        <p class="text-justify">Period.</p>
        <p class="text-justify">With Wacky Crackups, your kids get hours of creative play and laughter.  You get value, replayability, and peace of mind. It’s fun and simple to operate.</p>
        <p class="text-justify">Our kids love Wacky Crackups, and we hope you will too!</p>
        <div class="copy-head copy-head-elephant">
            <img src="/images/ELEPHANT_head_200.png" alt="Wacky Crackups Elephant Head" />
        </div>
    </article>
</div>
{{>calltoaction}}
