<div class="container">
    <div class="row">
        <div class="col whitebox space">
            <h3 class="wacky">{{blogPost.title.rendered}}</h3>
            <hr>
            <article>
                {{{blogPost.content.rendered}}}
            </article>
        </div>
    </div>
</div>
