<div class="container">
    <div class="row">
        <div class="col">
            <h1>Characters</h1>
        </div>
    </div>
    <div class="row justify-content-center characters">
        {{#each characters}}
        <div class=" col-6 col-md-4">
            <img src="{{this.image_url}}">
            <h4 class="text-white my-3">{{this.name}}</h4>
        </div>
        {{/each}}
    </div>
    <div class="row justify-content-center">
        <div class="m-0 col-lg-12 col-sm-12">
            {{>calltoaction}}
        </div>
    </div>
</div>

