{{>threecharacters}}

<div class="container">
    <div class="row justify-content-center">
        <div class="m-0 col-lg-12 col-sm-12">
            {{>calltoaction}}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12"/>
        {{>fourimgbox}}
    </div>
</div>
<br>

<div class="row justify-content-center home">
    <div class="col-lg-12 col-md-12 ">
        <div class="whitebox drop-shadow dino-wrapper">
            <img class="dino" src="/images/green-dino.png">
            <h1 class="text-center wacky">{{title}}</h1>
            <h2 class="text-center important wacky">YOUR KIDS WILL CRACK UP!</h2>

            <img class="bodyimagefaces" src="/images/cowgirl.png">
            <p class="text-center">NO ADS!</p>
            <p class="text-center">NO PERSONAL DATA COLLECTION!</p>
            <p class="text-center">NO THIRD-PARTY DATA MINING!</p>
            <p class="text-center">NO TRACKING!</p>
            <img class="bodyimagefaces" src="/images/dino.png">

            <p class="text-justify">Looking for some laughs for your kids, while encouraging them to create and improvise? So were we! That’s why we built the Wacky Crackups app!</p>
            <p class="text-justify">It’s a Talking Dynamic Slider game.</p>
            <p class="text-justify">Your kids can mix & match our hilarious cast of colorful characters, then make their combinations come to life with their own funny dialogue!</p>
            <p class="text-justify">Not only is Wacky Crackups fun, it’s secure! How many times have your kids come running to you because their apps have been interrupted by ads? Is the app harvesting your kid’s data? Unlike many other kids apps, we don’t have ads, or collect any of your child’s personal info, so we can’t (and don’t) share that info with third parties.</p>
            <p class="text-justify">Wacky Crackups is a fun, intuitive, simple-to-operate app that will give your kids hours of creativity and laughter. We designed it for value, replayability, and your peace of mind.</p>
            <p class="text-justify">Our kids love Wacky Crackups, and we hope your kids will too!</p>

        </div>
    </div>
</div>
<br>
<div class="row justify-content-center">
    <div class="col-md-10 col-lg-12 col-sm-12">
        {{>calltoaction}}
    </div>
</div>
</div>

