{{>threecharacters}}
{{>fourimgbox}}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-sm-12">
            {{>calltoaction}}
        </div>
    </div>
    <br>

    
    <div class="row justify-content-center home">
        <div class="col-lg-8 col-md-12 ">
            <div class="whitebox drop-shadow dino-wrapper">
                <img class="dino" src="/images/green-dino.png">
                <h1 class="text-center">{{title}}</h1>
                <h2 class="text-center">Your kids will crack up!</h2>



                <p class="text-center">YOU WILL NEVER SILENCE THE STORYTELLERS</p>
                <p class="text-center">The Battle For The Free Internet</p>
                <img class="bodyimagefaces" src="/images/dino.png">

                <img class="bodyimagefaces" src="/images/cowgirl.png">
                <p class="text-center">Gab is an ad-free social network dedicated to preserving individual liberty, the freedom of speech, and the free flow of information on the internet. A free and open internet is essential to the future of a free world. Freedom is creative. It produces. It generates. From freedom flows truth, beauty, wisdom, and growth.

                    Censorship and closed systems are ultimately about two things: destruction and control. Censorship does not create value, it annihilates it. It corrals human thought into the direction of its choosing. It attempts to bend the global consciousness to its will. This has always historically been the case. Censorship is nothing new.

                    The difference is we don't have to stand by and watch it happen. We don't have to watch the free and open internet be manipulated by 4-5 smug elites in Silicon Valley.

                    The internet belongs to We The People. Period.

                    Together we can preserve something incredible for generations to come. A human achievement so great it challenges the status quo and power of the global elite: the fundamental human right of expression.  

                    There is none more powerful in this world than the storytellers. No amount of money, human resources, or time can stop them or their ideas. The goal of censorship is to silence the storytellers, the truth seekers, the contrarians, the artists, those who question the status quo. We cannot stand by and watch this continue to happen.

                    This will not be an overnight battle. It will likely be a 5-10 year digital, cultural, and information war. We can and will win. We've built an incredible community of amazing people who share our values and cherish liberty. That is why we will continue to win. Join us and help keep the internet great for generations to come. 

                    You will never silence the storytellers.</p>

            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8 col-sm-12">
            {{>calltoaction}}
        </div>
    </div>
</div>
