
<div class="container">
    <div class="row">
        <h2 class="wacky text-white mb-3">Support Form</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5 order-md-2">
            <div class="whitebox">
            <h4>Contact Us</h4>
            <p> Need help?
                Email Us: hello@storystartups.com </p>
            <p> Wacky Crackups is a Story Startups project.</p>
                <p> Check out our </p>
            </div>
        </div>
        <div class="col-md-7 order-md-1 whitebox">
           <form action="https://formspree.io/isaacparrot+m82e8lw3jypcezqtajs5@boards.trello.com"
                 method="POST">
               <div class="form-row">
                   <div class="form-group col-md-6">
                       <label for="inputName">Name</label>
                       <input name="name" type="text" class="form-control" id="inputName" placeholder="Name">
                   </div>
                   <div class="form-group col-md-6">
                       <label for="inputEmail4">Email</label>
                       <input name="email" type="email" class="form-control" id="inputEmail4" placeholder="You@email.com">
                   </div>
               </div>
               <div class="form-group">
                   <label for="inputDevice">Your Apple Device</label>
                   <select name="device" id="inputDevice" class="form-control">
                       <option selected>Choose...</option>
                       <option>iPhone 5</option>
                       <option>iPhone SE</option>
                       <option>iPhone 6</option>
                       <option>iPhone 6S</option>
                       <option>iPhone 7</option>
                       <option>iPhone 8</option>
                       <option>iPhone X</option>
                       <option>iPad</option>
                       <option>iPad Air</option>
                       <option>iPad Mini</option>
                       <option>iPad Pro</option>
                   </select>
               </div>
               <div class="form-group">
                   <label for="inputBirthYear">Your Birth Year</label>
                   <select name="birth-year" id="inputBirthYear" class="form-control">
                       <option selected>Choose...</option>
                       <option>2018</option>
                       <option>2017</option>
                       <option>2016</option>
                       <option>2015</option>
                       <option>2014</option>
                       <option>2013</option>
                       <option>2012</option>
                       <option>2011</option>
                       <option>2010</option>
                       <option>2009</option>
                       <option>2008</option>
                       <option>2007</option>
                       <option>2006</option>
                       <option>2005</option>
                       <option>2004</option>
                       <option>2003</option>
                       <option>2002</option>
                       <option>2001</option>
                       <option>2000</option>
                       <option>1999</option>
                       <option>1998</option>
                       <option>1997</option>
                       <option>1996</option>
                       <option>1995</option>
                       <option>1994</option>
                       <option>1993</option>
                       <option>1992</option>
                       <option>1991</option>
                       <option>1990</option>
                       <option>1989</option>
                       <option>1988</option>
                       <option>1987</option>
                       <option>1986</option>
                       <option>1985</option>
                       <option>1984</option>
                       <option>1983</option>
                       <option>1982</option>
                       <option>1981</option>
                       <option>1980</option>
                       <option>1979</option>
                       <option>1978</option>
                       <option>1977</option>
                       <option>1976</option>
                       <option>1975</option>
                       <option>1974</option>
                       <option>1973</option>
                       <option>1972</option>
                       <option>1971</option>
                       <option>1970</option>
                       <option>1969</option>
                       <option>1968</option>
                       <option>1967</option>
                       <option>1966</option>
                       <option>1965</option>
                       <option>1964</option>
                       <option>1963</option>
                       <option>1962</option>
                       <option>1961</option>
                       <option>1960</option>
                       <option>1959</option>
                       <option>1958</option>
                       <option>1957</option>
                       <option>1956</option>
                       <option>1955</option>
                       <option>1954</option>
                       <option>1953</option>
                       <option>1952</option>
                       <option>1951</option>
                       <option>1950</option>
                       <option>1949</option>
                       <option>1948</option>
                       <option>1947</option>
                       <option>1946</option>
                       <option>1945</option>
                       <option>1944</option>
                       <option>1943</option>
                       <option>1942</option>
                       <option>1941</option>
                       <option>1940</option>
                       <option>1939</option>
                       <option>1938</option>
                       <option>1937</option>
                       <option>1936</option>
                       <option>1935</option>
                       <option>1934</option>
                       <option>1933</option>
                       <option>1932</option>
                       <option>1931</option>
                       <option>1930</option>
                       <option>1929</option>
                       <option>1928</option>
                       <option>1927</option>
                       <option>1926</option>
                       <option>1925</option>
                       <option>1924</option>
                       <option>1923</option>
                       <option>1922</option>
                       <option>1921</option>
                       <option>1920</option>
                       <option>1919</option>
                       <option>1918</option>
                       <option>1917</option>
                       <option>1916</option>
                       <option>1915</option>
                       <option>1914</option>
                       <option>1913</option>
                       <option>1912</option>
                       <option>1911</option>
                       <option>1910</option>
                       <option>1909</option>
                       <option>1908</option>
                       <option>1907</option>
                       <option>1906</option>
                       <option>1905</option>
                   </select>
               </div>
               <div class="form-group">
                   <label for="inputCountry">Country</label>
                   <select name="country" id="inputCountry" class="form-control">
                       <option selected>Choose...</option>
                       <option>United States of America</option>
                   </select>
               </div>
               <div class="form-group">
                   <label for="inputSubject">Subject</label>
                   <input name="subject" type="text" class="form-control" id="inputSubject" placeholder="I've Been Crackin' Up!">
               </div>

               <div class="form-row">
                   <div class="form-group col">
                       <label for="inputMessage">Message</label>
                       <textarea name="message" type="textbox" class="form-control" id="inputMessage"></textarea>
                   </div>
               </div>
               <div class="form-group">
                   <div class="form-check">
                       <input class="form-check-input" type="checkbox" id="gridCheck">
                       <label class="form-check-label" for="gridCheck">
                           Check me out
                       </label>
                   </div>
               </div>
               <button type="submit" class="btn btn-primary">Submit</button>
           </form>
        </div>
    </div>
</div>
