<div class="container">
    <div class="row">
        <div class="col tandc">
            <h2 class="tandc-header" id="terms">Terms and Conditions</h2>
            <p>(Example)</p>
            <p>You must follow any policies made available to you within the Services.</p>
            <p>Don’t misuse our Services. For example, don’t interfere with our Services or try to access them using a method other than the interface and the instructions that we provide. You may use our Services only as permitted by law, including applicable export and re-export control laws and regulations. We may suspend or stop providing our Services to you if you do not comply with our terms or policies or if we are investigating suspected misconduct.</p>
            <p>Using our Services does not give you ownership of any intellectual property rights in our Services or the content you access. You may not use content from our Services unless you obtain permission from its owner or are otherwise permitted by law. These terms do not grant you the right to use any branding or logos used in our Services. Don’t remove, obscure, or alter any legal notices displayed in or along with our Services.</p>

            <br >
            <h2 class="tandc-header" id="privacy">Privacy Policy</h2>
            <h5>For the Wacky Crackups APP:</h5>
            <p>Story Startups, Inc. designed the Wacky Crackups app for kids.</p>
            <p>We do not collect, store, or share data for the Wacky Crackups app, unlike many apps. Period.</p>
            <p>We do not have ads, so ad companies cannot build profiles from your child’s data.</p>
            <p>Everything your child does with our app on their device, stays on their device.</p>
            <p>The distorted “recording” (which is modulated from the user’s original voice) is not processed through the cloud or transmitted in any way. Any saved distorted “recordings” only reside locally on your device.</p>
            <p>Your child’s security, safety, and privacy are our number one concern.</p>
            <h5>For the Wacky Crackups WEBSITE</h5>
            <p>Our website is aimed at adults.</p>
            <p>There are no games or activities for children on the site. The site provides info to parents about the Wacky Crackups app, a blog to keep parents up-to-date on new features, and a support page for any questions.</p>
            <p>In order to respond to your emails and support request, and to conduct normal business, we use third-party companies.</p>
            <ul style="padding-left: 20px;">
                <li>Story Startups collects your emails and stores them on Trello.</li>
                <li>Formspree places cookies on your web browser.</li>
                <li>Wordpress, Amazon Web Services, Formspree and our servers log and keep your IP address so that we can respond to your emails and support requests.</li>
            </ul>
            <p>If at any time you wish to copy, modify, or remove your email address, you may do so by sending us an email through support@storystartups.com.</p>
            <p>At Story Startups, we built Wacky Crackups for laughs, creative play, for kids, and peace of mind for parents.</p>

        </div>
    </div>
</div>

