<div class="container">
    <div class="row">
        <div class="col tandc">
            <h2 class="tandc-header" id="terms">Terms and Conditions</h2>
            <p>Spicy jalapeno bacon ipsum dolor amet strip steak consequat shoulder tenderloin fatback venison, kielbasa capicola frankfurter labore buffalo sunt. Commodo picanha frankfurter swine, turkey in deserunt strip steak. Excepteur ribeye cupim aute short ribs dolor ut beef ribs sed nostrud turkey. Aliquip salami pork loin eu do strip steak qui laboris. Short ribs beef ribs consequat drumstick, proident id chicken.

                Spicy jalapeno bacon ipsum dolor amet burgdoggen ball tip irure sirloin eu enim frankfurter. Elit jerky sed, brisket pig boudin labore strip steak laboris. Shank consectetur tempor voluptate elit cillum sirloin jerky filet mignon burgdoggen boudin cupidatat nisi spare ribs. Salami filet mignon excepteur, culpa proident officia non meatball eiusmod laborum sed minim incididunt ball tip. Buffalo chuck sunt occaecat pork belly ipsum anim brisket flank andouille non.

                T-bone sunt cow sirloin pork loin, esse ribeye in. Chuck strip steak in consequat short loin andouille shoulder short ribs ea. Dolore elit occaecat veniam ut ut, aliquip swine sausage porchetta id meatball andouille. Chuck ball tip in fugiat pork belly irure burgdoggen ribeye flank tongue porchetta. Officia jerky in magna meatball andouille duis ham in cillum sed frankfurter.

                Picanha aliqua commodo frankfurter tempor ea enim ipsum proident ut capicola pork loin andouille. Occaecat pork chop andouille laboris cupim, bacon in shankle labore ball tip non tail. Ut drumstick mollit, ad sint prosciutto flank in frankfurter. Landjaeger deserunt ex sunt nulla flank aute aliqua culpa. Do reprehenderit doner enim cow short loin sint. Commodo shank biltong strip steak, ball tip qui elit landjaeger chuck shankle. Excepteur flank adipisicing dolor short ribs pork belly, exercitation turkey pastrami bresaola consequat chicken anim pariatur capicola.

            <h2 class="tandc-header" id="privacy">Privacy Policy</h2>
            <p>Spicy jalapeno bacon ipsum dolor amet strip steak consequat shoulder tenderloin fatback venison, kielbasa capicola frankfurter labore buffalo sunt. Commodo picanha frankfurter swine, turkey in deserunt strip steak. Excepteur ribeye cupim aute short ribs dolor ut beef ribs sed nostrud turkey. Aliquip salami pork loin eu do strip steak qui laboris. Short ribs beef ribs consequat drumstick, proident id chicken.

                Lorem velit corned beef cupidatat eiusmod ribeye swine pork chop in ut venison minim alcatra ham hock dolor. Filet mignon jerky occaecat, biltong ham hock ground round dolor mollit commodo strip steak salami. Alcatra short ribs strip steak, velit beef swine bacon adipisicing. Porchetta prosciutto ham hock irure, beef ribs in lorem.</p>
        </div>
    </div>
</div>

