//noinspection CssUnknownTarget
@import "bootstrap/scss/functions";
//noinspection CssUnknownTarget
@import "bootstrap/scss/variables";
//noinspection CssUnknownTarget
@import "bootstrap/scss/mixins/breakpoints";
@import "mixins.scss";
$talking-text-color: rgb(86, 135, 117);
$copy-y-spacing: 35px;

$dino-head-offset: 80px;
$dino-head-desktop-offset-delta: 20px;
$dino-head-size: 120px;
$dino-head-desktop-size-delta: 80px;

@mixin wacky-colored {
  color: $talking-text-color;
}

.main-page-wrapper {
  @include wacky-box();

  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: $copy-y-spacing + $dino-head-offset;
  padding-bottom: 20px;

  .floating-dino-head {
    height: $dino-head-size;
    width: $dino-head-size;
    @include media-breakpoint-up(md) {
      height: $dino-head-size + $dino-head-desktop-size-delta;
      width: $dino-head-size + $dino-head-desktop-size-delta;
    }
    position: relative;
    top: -($dino-head-offset);
  }

  /* <article> */
  .main-page-copy {

    margin-top: -(($dino-head-offset) - 10);
    @include media-breakpoint-up(md) {
      margin-top: -(($dino-head-offset + $dino-head-desktop-offset-delta)/1.5);
    }

    padding: 0 20px;
    @include media-breakpoint-up(md) {
      padding: 0 60px;
    }

    > p {
      padding: 10px;
    }

    .copy-brand {
      @include crackup-font;
      color: #000000;
      font-size: 26px;
      @include media-breakpoint-up(md) {
        font-size: 40px;
      }
    }

    .copy-tagline {
      @include wacky-colored();
      font-size: 55px;
      @include media-breakpoint-up(md) {
        font-size: 65px;
      }
    }


    .copy-heads-n-points {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      margin-bottom: 20px;
      @include media-breakpoint-up(md) {
        flex-direction: row;
      }


      .selling-points {
        text-align: left;
        font-weight: 700;
        font-size: 16px;
        @include montserrat-font();
        > p {
          margin: 0;
        }
      }

    }
    .copy-head {
      >img {
        max-width: 150px;
        max-height: 150px;
        margin: 20px 0;
      }
    }
    .copy-head-superhero {
      >img {
        display: block;
        margin: 0 auto;
        max-height: 135px;
      }
    }
    .ch-superhero-mobile {
      display: block;
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
    .ch-superhero-desktop {
      display: none;
      @include media-breakpoint-up(md) {
        display: block;
      }
    }
    .copy-head-cowgirl {
      >img {
        display: block;
        margin: 0 auto;
      }
    }
    .copy-head-elephant{
      >img {
        display: block;
        margin: 0 auto;
      }
    }
    .copy-head-below-points {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      @include media-breakpoint-up(md) {
        width: auto;
      }
    }

    .talking {
      @include montserrat-font();
      font-weight: bold;
      font-style: italic;
      @include wacky-colored();
      font-size: 20px;
    }
    .inline-copy-link {
      @include wacky-colored();
      font-weight: bold;
    }
  }
}
