@import "colors.scss";
@import "mixins.scss";

.blog-page-subtitle {
  @include montserrat-font;
  font-weight: bold;
  color: black;
}

.blog-post-preview {
  padding: 15px;
  @include wacky-box;

  .read-more-link {
    @include montserrat-font;
    font-weight: bold;
    font-size: 14px;
  }
}

.blog-post {
  padding: 15px;
  @include wacky-box;
  margin-bottom: 40px;
}

article {
  a, a:link, a:visited {
    color: $primary-text-color;
  }
}

.fit{
  max-width: 300px;
  height: auto;
}
