@import "colors.scss";

article {
  a, a:link, a:visited {
    color: $primary-text-color;
  }
}
.less_space{
  margin-top: -16px;
}
.space{
  margin-bottom: 40px;
}

.fit{
  max-width: 300px;
  height: auto;
}
