//noinspection CssUnknownTarget
@import "bootstrap/scss/functions";
//noinspection CssUnknownTarget
@import "bootstrap/scss/variables";
//noinspection CssUnknownTarget
@import "bootstrap/scss/mixins/breakpoints";
@import "mixins";
@import "colors";

.c2a-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  padding: 4px 10px;
  // @include media-breakpoint-up(md) {
  //   padding: 4px 20px;
  // }

  border: 2px solid black;
  border-radius: 200px;
  background-color: white;

  .c2a-text {
    @include crackup-font;
    margin: 0;
    padding: 0;
    font-size: 36px;
    line-height: 0;
  }

  .c2a-mobile-only {
    display: inline;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
  .c2a-desktop-only {
    display: none;
    @include media-breakpoint-up(md) {
      display: inline;
    }
  }

  .c2a-when {
    color: $dino-head-purple;
  }

  .c2a-badge {
    display: block;
    padding: 0;
    margin: 0;
    > img {
      display: block;
      height: 42px;
      padding: 0;
      margin: 0;
    }
  }
}
