//noinspection CssUnknownTarget
@import "bootstrap/scss/functions";
//noinspection CssUnknownTarget
@import "bootstrap/scss/variables";
//noinspection CssUnknownTarget
@import "bootstrap/scss/mixins/breakpoints";
@import "mixins";

.c2a-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 5px 0;
  @include media-breakpoint-up(md) {
    padding: 8px 0;
  }
  @include wacky-box();

  .c2a-text {
    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    .c2a-text-main, .c2a-text-sub {
      color: black;
      text-align: center;
    }
    .c2a-text-main {
      @include crackup-font();
      line-height: 18px;
      margin: 0;
      padding: 0;
      font-size: 28px;
      @include media-breakpoint-up(md) {
        font-size: 32px;
        line-height: 32px;
        margin: 0 10px;
      }
    }
    .c2a-text-sub {
      @include montserrat-font();
      font-weight: 900;
      font-size: 24px;
      @include media-breakpoint-up(md) {
        font-size: 28px;
      }
      margin: 0;
      padding: 0;
    }
  }
  .c2a-badge {
    > a > img {
      height: 42px;
    }
  }
}
