
@import "mixins.scss";

.calling {
  display: flex;
  justify-content: space-evenly;
  .app-store {
    align-items: center;
    display: flex;
  }
  .logo-text{
    object-fit: contain;
    height:40px;
  }
  .call-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    h1,h3{
      padding: 0;
      margin: 0;
    }
    h1{
      margin: 0 10px;
      letter-spacing: -4px;
    }
  }
}

.skinny-box {
  @include wacky-box();
  padding: 10px;
  margin: 20px 0px;
}


