.characters{
  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      margin: auto;
      max-width: 100%;
      display:block;
      height: auto;
    }

  }
}

h1{
  color: #FFFFFF;
}