.characters{
  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      margin: auto;
      max-width: 100%;
      display:block;
      height: auto;
    }

  }
}

h1 {
  font-family: 'Montserrat', sans-serif;
  //font-family: FlawlessFlygirlPB-Regular;
  color: #FFFFFF;
  font-weight: bold;
  .name {
    font-size: medium;
    color: #FFFFFF;
  }
}


