/*
This file shouldn't be included directly into HTML. Rather, use `@import "colors.scss";` in other SCSS files to get
access to the contents of this file.
 */

$background-base-color: #6da992;
$primary-text-color: #FFFFFF;
$dino-head-purple: #c770f3;
