

footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
  }
}
