
.scrolling-wrapper{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: space-evenly;
  .card{
    flex:0 0 auto;
    width: auto;
    height: 500px;
  }
}


@import "mixins.scss";

.skinny-box {
  @include wacky-box();
  padding: 10px;
  margin: 20px 0px;
}