@mixin wacky-box() {
  border-radius: 6px;
  background-color: #FFFFFF;
}

@mixin crackup-font() {
  font-family: FlawlessFlygirlPB-Regular, sans-serif;
}

@mixin montserrat-font() {
  font-family: Montserrat, Helvetica, sans-serif;
}

@mixin page-title {
  @include montserrat-font;
  color: black;
  font-size: 40px;
  font-weight: bold;
}
