//noinspection CssUnknownTarget
@import "bootstrap/scss/functions";
//noinspection CssUnknownTarget
@import "bootstrap/scss/variables";
//noinspection CssUnknownTarget
@import "bootstrap/scss/mixins/breakpoints";

$mobile-x-margins: 0;
$desktop-x-margins: 0;


@mixin patty-animation-throwingStar {
  left: 200px;
  transform: rotateZ(3600deg);
}

@mixin patty-animation-fadeInOut {
  opacity: 0.0;
}

@mixin patty-animation-spinFade {
  transform: rotateZ(360deg);
  opacity: 0.0;
}

@mixin patty-animation-shrinkLeft {
  transform: rotateY(90deg);
}


$patty-duration-multiplier: 2;
@mixin patty-animation {
  // @include patty-animation-throwingStar();
  //@include patty-animation-fadeInOut();
  @include patty-animation-spinFade();
  // @include patty-animation-shrinkLeft();
}

$burger-size: 60px;
$burger-patty-height: 6px;
$burger-patty-margin: 5px;
$burger-trans-easing: ease-in-out;
$burger-trans-duration: 125ms;



// Applies to all <nav> elements
nav.nav-main {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;

  .logo{
    max-height: 125px;
    padding-left: $mobile-x-margins;

    @include media-breakpoint-up(md) {
      padding-left: $desktop-x-margins;
    }
  }

  .links {
    display: none;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    margin-top: 10px;

    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: row;
      width: auto;
    }
    &.open {
      display: flex;
    }


    a {
      display: block;
      padding: 5px;
      margin-top: 20px;

      @include media-breakpoint-up(md) {
        font-size: 16px;
        padding: 20px;
        margin-top: 25px;
      }

      font-weight: bold;
      font-size: 20px;

      &:link, &:visited {
        color: #FFFFFF;
      }

      &.active {
        color: #FFFFFF;
        text-decoration: underline;
      }
    }

    .accent-line {
      display: none;
      margin: 25px;
      border-top: 3px solid white;
    }
    &.open >.accent-line {
      display: block;
    }

  }
}

header.wacky-header {
  @include media-breakpoint-up(md) {
    width: auto;
  }
  display: flex;
  width: 100%;

  &>a {
    // Bad hack to get alignment right
    height: 110px;
  }

}

.burger-wrapper {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  padding-right: $mobile-x-margins;

  .burger-bun {
    @include media-breakpoint-up(md) {
      display: none;
    }
    display: block;
    position: relative;

    height: $burger-size;
    width: $burger-size;
    margin: (2 * $burger-patty-margin) 0;

    &.open > .burger-patty {
      &:first-child {
        // Man, I should learn the pythagorean theorem better
        left: 11px;
        transform: rotateZ(45deg);
      }
      &:nth-child(2) {
        @include patty-animation();
      }
      &:last-child {
        // 'Cuz I could calculate this instead of guessing
        left: 11px;
        transform: rotateZ(-45deg);
      }
    }

    .burger-patty {
      display: block;
      position: absolute;

      height: $burger-patty-height;
      width: ($burger-size - (2 * $burger-patty-margin));
      left: $burger-patty-margin;

      transition: all $burger-trans-duration $burger-trans-easing;

      &:nth-child(1) {
        top: ($burger-size/2) - ($burger-patty-height/2) - ($burger-patty-height * 3);
        transform-origin: bottom left;
      }

      &:nth-child(2) {
        top: ($burger-size/2) - ($burger-patty-height/2);
        transition: all ($burger-trans-duration * $patty-duration-multiplier) $burger-trans-easing;
        //transform-origin: left;
      }

      &:nth-child(3) {
        top: ($burger-size/2) + ($burger-patty-height/2) + ($burger-patty-height * 2);
        transform-origin: top left;
      }
    }
  }

}

