// Applies to all <nav> elements
nav {
  /* TODO: Add something...? */
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-content: center;

  > a {
    font-size: 20px;
    align-content: center;
  }
  a, a:link, a:visited {
    color: #FFFFFF;
  }

  a {
    display: block;
    padding: 20px;
  }


  .links {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;

    a:hover {
      background-color: rgba(128, 128, 128, 0.3);
    }

  }
}