/*
These probably appear as broken in your editor, but they should 'just work'
It'd be great if module authors could support standard functions, but this is what we get instead
yay
 */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/breakpoints";

// Applies to all <nav> elements
nav.main {
  /* TODO: Add something...? */
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-content: center;
  flex-wrap: wrap;

  > a {
    font-size: 20px;
    align-content: center;
  }
  a, a:link, a:visited {
    color: #FFFFFF;
  }
  a.active {
    color: #FFFFFF;
    text-decoration: underline;
  }

  a {
    display: block;
    padding: 20px;
    margin-top: 25px;
  }

  .big{
    font-size: 30px;
  }

  .logo{
    max-height: 125px;
    padding-left: 25px;

    @include media-breakpoint-up(md) {
      padding-left: 75px;
    }
  }


  .links {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

   // a:hover {
    //  background-color: rgba(128, 128, 128, 0.3);
    //}
  }
}

header.wacky-header {
  @include media-breakpoint-up(md) {
    width: auto;
  }
  display: flex;
  width: 100%;
}

$burger-size: 60px;
$burger-patty-height: 6px;

.burger-wrapper {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  padding-right: 20px;

  .burger-bun {
    @include media-breakpoint-up(md) {
      display: none;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: $burger-size;
    width: $burger-size;
    padding: 0 5px;

    background-color: black;

    .burger-patty {
      display: block;

      height: $burger-patty-height;
      width: 100%;

      background-color: white;
    }
  }

}

