@import "colors.scss";

body {
  background-image: url("/images/bg.svg");
  background-color: aquamarine;
  background-repeat: no-repeat;
  background-size: cover;

  // TODO: Use Google Fonts
  font: 14px sans-serif;
}
 .whitebox{
   background-color: #FFFFFF;
   border-radius: 25px;
   padding: 35px;

 }

 .home {
   text-align: center;
   .bodyimagefaces{
     margin-left: auto;
     margin-right: auto;
     display: flex;
   }
 }



a {
  color: #00B7FF;
}
