@import "colors.scss";
@import "mixins.scss";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  flex-direction: column;
  //background-image: url("/images/bg.svg");
  //background-repeat: no-repeat;
  //background-size: cover;
  background-color: #71e5ae;

  font-family: 'Montserrat', sans-serif;
}

.whitebox{
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 35px;


}

.skinny-box {
  @include wacky-box();
  padding: 10px;
  margin: 20px 0px;
}

.drop-shadow{
  box-shadow: 0 0 20px 1px #3434349c;
}

.home {
  text-align: center;
  .bodyimagefaces{
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}
.dino-wrapper{
  margin-top: 100px;
  .dino{
    margin-top: -125px;
    max-width: 200px;
  }
}
.wacky{
  font-family: FlawlessFlygirlPB-Regular;
  color: black;
}
.important{
  font-size: 65px;
}
